

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <div class="row">


        <div class="col-lg-9">


            <div class="row" style="padding-top:40px;padding-bottom:20px;">
                <div class="card " style="width: 10rem;margin:5px;">
                    <img class="card-img-top" src="~/Content/Images/0.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Nektarios Raftis</b>

                        </h5>
                        <hr />
                        <a href="https://www.linkedin.com/in/nektarios-raftis-aa215b174/" class="btn btn-custom">LinkedIn</a>
                    </div>
                </div>
                <div class="card " style="width: 10rem;margin:5px;">
                    <img class="card-img-top" src="~/Content/Images/0 (1).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Vasilis Brinias</b>

                        </h5>
                        <hr />
                        <a href="https://www.linkedin.com/in/vasilis-brinias-0217211b5/" class="btn btn-custom">LinkedIn</a>
                    </div>
                </div>
                <div class="card " style="width: 10rem;margin:5px;">
                    <img class="card-img-top" src="~/Content/Images/0 (2).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Panagiotis Floratos</b>

                        </h5>
                        <hr />
                        <a href="https://www.linkedin.com/in/panagiotis-floratos-70597a67/" class="btn btn-custom">LinkedIn</a>
                    </div>
                </div>
                <div class="card " style="width: 10rem;margin:5px;">
                    <img class="card-img-top" src="~/Content/Images/0 (3).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Ilias Katsiantonis</b>

                        </h5>
                        <hr />
                        <a href="https://www.linkedin.com/in/ilias-katsiantonis/" class="btn btn-custom">LinkedIn</a>
                    </div>
                </div>
                <div class="card " style="width: 10rem;margin:5px;">
                    <img class="card-img-top" src="~/Content/Images/IMG_20190811_151855_2.jpg" alt="Card image cap" style="height:160px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Konstantinos Armenis</b>

                        </h5>
                        <hr />
                        <a href="" class="btn btn-custom">LinkedIn</a>
                    </div>
                </div>


            </div>

        </div>
        </div>
        <footer class="py-0 bg-custom hide fixed-bottom">
            <div class="container">
                <p class="m-0 text-center text-white">&copy; <small>Nektarios Raftis</small> | <small>Basilis Brinias</small>| <small>Panagiotis Floratos</small>| <small>Kostantinos Armenis</small>| <small>Ilias Katsiantonis</small> </p>
            </div>
            <!-- /.container -->
        </footer>
        <style>
            .btn-custom {
                background-color: #4289ed;
                color: white;
            }
        </style>
